<%- include('includes/header') -%>

<script src="/js/basketball.js" type="text/javascript" defer></script>

<main class="container mt-3">

    <div class="row">
        <div class="col text-start">
            <h3 class=""><img src="<%= game['league']['logo'] %>" class="me-sm-3" style="max-width : 35px; max-height : 35px;" alt=""><%= game['league']['name'] %> - <%= game['country']['name'] %></h3>
        </div>
        <div class="col text-end">
            <h5><%= moment(game['date']).format('lll') %></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-6 text-end">
            <h1 class="display-6 mt-3"><img src="<%= game['teams']['home']['logo'] %>" class="me-sm-5 img-fluid" style="max-width : 50px; max-height : 50px;" alt=""><%= game['teams']['home']['name'] %></h1>
        </div>
        <div class="col-6 text-start">
            <h1 class="display-6 mt-3"><%= game['teams']['away']['name'] %><img src="<%= game['teams']['away']['logo'] %>" class="ms-sm-5" style="max-width : 50px; max-height : 50px;" alt=""></h1>
        </div>
    </div>


    <% if (game['status']['short'] === 'FT' || game['status']['short'] === 'AOT') { %> 


        <div class="row">

            <div class="col text-center">
                <h4>
                    <small class="text-muted"><%= game['scores']['home']['total'] %> - <%= game['scores']['away']['total'] %>  (<%= game['scores']['home']['total'] + game['scores']['away']['total'] %>)</small>
                </h4>
            </div>

        </div>


    <% } %>


    <div class="row mt-4"  style="min-height: 300px;">

        <div class="col-6">
            <svg id="graphHome" data="<%= game['teams']['home']['id'] %>;<%= game['date'] %>" width="100%" height="100%"></svg>
        </div>

        <div class="col-6">
            <svg id="graphAway" data="<%= game['teams']['away']['id'] %>;<%= game['date'] %>" width="100%" height="100%"></svg>
        </div>

    </div>

    <div class="row mt-4">


        <div class="col-6" id="tableHome">

        </div>
        <div class="col-6" id="tableAway">
            
        </div>


    </div>



    <div class="row mt-4">


        <div class="col-6" id="tableHomeOpponent">

        </div>
        <div class="col-6" id="tableAwayOpponent">
            
        </div>


    </div>


</main>

<%- include('includes/footer') -%>