<%- include('includes/header') -%>

<main class="container mt-3">

    <% 
    
        Object.keys(items).forEach((Leagues) => { 
            events = items[Leagues]['events']
    %>


    <h1 class="display-4 mt-3"><%= items[Leagues]['name'] %></h1>


    <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 18%">Date</th>
                    <th scope="col" style="width: 33%">Teams</th>
                    <th scope="col" style="width: 10%">Status</th>
                    <th scope="col" style="width: 10%">Scores</th>
                    <th scope="col" style="width: 10%"></th>
                </tr>
            </thead>

            <tbody>
                <% 
                
                    Object.keys(events).forEach((Event) => { 
                    
                %>

                <tr>
                    <th>
                        <%= moment(events[Event].time).add(2,'h').format('lll') %>
                    </th>
                    <td>
                        <%= events[Event].hometeam_name %> - <%= events[Event].awayteam_name %>
                    </td>
                    <td>
                        <% if(events[Event].livescore){ %> <%= events[Event].livescore.status %><% } %> 
                    </td>
                    <td>
                        <% if(events[Event].livescore && events[Event].livescore.value){ %><%= events[Event].livescore.value %><% } %>
                    </td>
                    <td>
                        <a class="aLien" target="_blank" href="/event_detail_2/<%- events[Event]['id'] -%>" style="text-decoration: none;" >+</a>
                    </td>
                </tr>


                <% 
            
                    }) 
                
                %>
            </tbody>
        </table>


    <%
            
        });
        
    %> 


</main>

<%- include('includes/footer') -%>